#hint
#chat
  pre#output
  ul#users
    li test
    li test2
    li test3
  #login
    input#username(type='text')
    button#join join
  #message
    input#text(type='text')
    button#send send


script(type='text/javascript', src='javascripts/jquery-1.7.2.min.js')
script(type='text/javascript', src=socketJavascriptFile)
script(type='text/javascript', src='javascripts/connector.js')
script(type='text/javascript', src='javascripts/chat.js')
script(type='text/javascript')
  $(function(){
    chat.run('!{host}', !{socketPort});
  });
